
<style>
       body {
  margin: 0;
  background:#222;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: rgb(10, 0, 0);
}
</style>
<div class="container" data-aos="fade-up" data-aos-duration="3000">
    <div class="row">
      <div class="col-lg-8">
        <h2 class="mb-3" style="color: aliceblue;">Sport News</h2>
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">Lionel Messi scores hat-trick in Barcelona win</h5>
            <p class="card-text">Lionel Messi scored his 50th career hat-trick as Barcelona came from behind to beat Real Sociedad 4-2 in La Liga. The Argentine superstar scored two free-kicks and a penalty as Barca moved back to within seven points of leaders Atletico Madrid. Messi has now scored 33 goals in 35 appearances in all competitions this season.</p>
            <a href="https://www.espn.in/football/" class="card-link">Read more</a>
          </div>
        </div>
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">Novak Djokovic defeats Rafael Nadal in Italian Open thriller</h5>
            <p class="card-text">Novak Djokovic came out on top in a thrilling semi-final against Rafael Nadal at the Italian Open, winning 6-3, 6-7 (4), 6-2. The world number one will now face Diego Schwartzman in the final. Djokovic is aiming to win his fifth Italian Open title, while Schwartzman is looking for his first ATP Masters 1000 title.</p>
            <a href="https://www.espn.in/football/" class="card-link">Read more</a>
          </div>
        </div>
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">Lewis Hamilton wins Spanish Grand Prix</h5>
            <p class="card-text">Lewis Hamilton secured his third win of the season with a dominant victory in the Spanish Grand Prix. The Mercedes driver led from start to finish, finishing over 20 seconds ahead of Red Bull's Max Verstappen. Hamilton's teammate, Valtteri Bottas, finished third. Hamilton now leads the drivers' championship by 14 points.</p>
            <a href="https://www.espn.in/football/" class="card-link">Read more</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <h2 class="mb-3" style="color: aliceblue;">Sport Highlights</h2>
        <div class="card mb-3">
          <img class="card-img-top" src="https://via.placeholder.com/300x200.png?text=Highlight+1" alt="Highlight 1">
          <div class="card-body">
            <h5 class="card-title">Highlight 1</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vitae felis id turpis semper finibus. Suspendisse eu risus vel lectus rhoncus sagittis. Integer euismod eu lorem a fringilla. Mauris malesuada elit libero, ac tristique dolor suscipit quis. </p>
            <a href="https://www.espn.in/football/" class="card-link">Watch now</a>
          </div>
        </div>
        <div class="card mb-3">
          <img class="card-img-top" src="https://via.placeholder.com/300x200.png?text=Highlight+2" alt="Highlight 2">
          <div class="card-body">
            <h5 class="card-title">Highlight </h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vitae felis id turpis semper finibus. Suspendisse eu risus vel lectus rhoncus sagittis. Integer euismod eu lorem a fringilla. Mauris malesuada elit libero, ac tristique dolor suscipit quis. </p>
            <a href="https://www.espn.in/cricket/series/8048/game/1359526/rajasthan-royals-vs-sunrisers-hyderabad-52nd-match-indian-premier-league-2023" class="card-link">Watch now</a>
  