<style>
  .player-list {
    height: 15vh;
    overflow-y: auto;
  }
  
    body {
  margin: 0;
  background:#222;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: rgb(10, 0, 0);
}


td {
    
    color: aliceblue;
}
ul{
    color: aliceblue;
}
tr{
    color: aliceblue;
} 

.profile {
		background-color: #313030;
		border-radius: 5px;
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
		padding: 20px;
		max-width: 600px;
		margin: 0 auto;
	}

  .card{
    margin: 20px 30px 20px 30px;
    background-color: #313030;
  }
  .card:hover{
    background-color: #f88120
  }

  .card-header{
    color: aliceblue;
}
  

</style>


<!-- table code -->
<div class="card" data-aos="zoom-in-right" data-aos-duration="3000">
<div class="card-body">
<table class="table table-striped-columns">
  <thead>
    <tr>
      <th>Team Name</th>
      <th  style="color: aliceblue;" >Players</th>
    </tr>
  </thead>
  <tbody>
    <% teams.forEach(function(team) { %>
      <tr>
        <td><%= team.name %></td>
        <td>
          <div class="player-list">
            <ul>
              <% team.players.forEach(function(player) { %>
                <li><%= player %></li>
              <% }); %>
            </ul>
          </div>
        </td>
      </tr>
    <% }); %>
  </tbody>
</table>
</div>
</div>
